**.DS_Store
**/target/**
**/*.versionsBackup
**/hs_err*

.idea/misc.xml

audio/results/**
audio/Kit/**
audio/Library/**
audio/pattern-factory.json
audio/Population.xml

audio-space/results/**
audio-space/Library/**

results/**
health/**
pattern-factory.json
Population.xml

Extensions/**
lib/**SNAPSHOT.jar